body{
	font-family: 'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
	font-size:20px;
}
img{
	max-width: 100%;
	display: block;
}
input{
	border: #fff;
	width: 50%;
}
.mr-30{
	margin-right: 5%;
}
.flex-none{
	display: flex;
}
.wrap{
	background-image: url("../image/main_bg.jpg");
	background-size: 100%;
}
.main{
	margin: 0 auto;
	width: 80%;
	padding-bottom: 20%;
}
.associated{
	color: #f346b4;
}

.associated:before{
	content: "♡";
}
.associated:after{
	content: "♡";
}


.form-date,.form-associated{
	width: 100%;
}
.item_area{
	display: flex;
	padding-top: 10%;

}
.item-form{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.item-form_txt{
	font-weight: bold;
}
.form-time{
	width: 42%;
}
.form-money,.form-god{
	width: 80%;
	margin-right: 5%;
}